/* -------Specification------- */

body {
  font-family: 'Roboto', sans-serif;
  /* font-size: 14px; */
  /* letter-spacing: 0; */
  /* color: #404048; */
  padding: 0;
  margin: 0;
  min-width: 320px;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  /* color: #081d42; */
  /* letter-spacing: 0; */
}

div,
p,
ul,
li,
input,
textarea,
nav,
button,
form,
a,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  list-style: none;
  color: inherit;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active {
  text-decoration: none;
  outline: none;
}

a,
button,
input {
  transition: all 0.5s ease;
}

a {
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
}

.container {
  max-width: 1200px;
}


/* -----Header----- */

.header {
  background: url(../img/bg_main.png) center center/cover no-repeat;
}

.nav {
  background-color: #212121;
}

.menu {
  padding: 13px 70px;
  justify-content: space-between;
}

.menu__item {
  border-right: 2px dotted #000;
  padding-right: 38px;
}

.menu__item:last-child {
  border-right: none;
  padding-right: 0px;
}

.menu__link {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.subheader {
  background-color: rgba(0,0,0, .6);
}

.logo__img {
  max-width: 280px;
}

.logo__text {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.5;
}

.phone__block {
  margin-right: 33px;
}

.phone__text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.phone__number {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  width: 172px;
  height: 46px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: 3px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  display: block;
}

.offer {
  max-width: 960px;
  text-align: center;
  padding: 67px 0;
  margin: 0 auto;
}

.offer__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  margin-top: 67px;
}

.offer__subtitle {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.offer p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: 23px 0;
}

.offer__btn {
  width: 259px;
  height: 63px;
  font-size: 18px;
  font-weight: 400;
  margin: 95px auto;
}

/* -----Section Points----- */

.points {
  padding: 71px 0 65px;
  text-align: center;
}

.points__subtitle {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  width: 112px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  margin: 0 auto;
  padding: 3px 15px;
}

.points__title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  margin-top: 38px;
}

.points__module {
  /* margin: 0 40px 55px 0; */
}

.point {
  align-items: center;
  text-align: left;
  margin-top: 40px;
}

.point__block {
  max-width: 346px;
  margin-left: 20px;
}

.point__img {
  width: 113px;
  height: 113px;
  justify-content: center;
  align-items: center;
  background-color: #1eacc7;
  border-radius: 50%;
}

.point__title {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.point p {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
}

/* -----Section Capacity----- */

.capacity {
  padding: 56px 80px;
  text-align: center;
}

.capacity__subtitle {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  width: 112px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  margin: 0 auto;
  padding: 3px 15px;
}

.capacity__title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 46px;
}

.capacity__text {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
}

.capacity__module {
  margin-top: 32px;
}

.capacity__item {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.capacity__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 92px 0 25px;
}

.capacity__heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 24px;
}

.capacity__sign {
  margin: 0 auto;
}

.capacity__icon {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  padding: 6px;
}

/* -----Section Choice----- */

.choice {
  padding: 57px 0 138px;
  text-align: center;
  background: url(../img/bg_choice.png) center center/cover no-repeat;
}

.choice__subtitle {
  color: #070716;
  font-size: 11px;
  font-weight: 400;
  width: 112px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 3px 15px;
}

.choice__title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 32px;
}

.choice__text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-top: 19px;
}

.choice__img {
  max-width: 760px;
  margin: 56px auto 0;
}

.choice__content {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  width: 300px;
  margin: 0 auto;
}

/* -----Section Terms----- */

.terms {
  padding: 76px 0 52px;
  text-align: center;
}

.terms__subtitle {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  width: 112px;
  text-transform: uppercase;
  background-color: #000000;
  margin: 0 auto;
  padding: 3px 15px;
}

.terms__title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 33px;
}

.term {
  margin: 32px 0;
}

.term__title {
  color: #1ca8c3;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.term__title span {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
}

.term__title_red {
  color: #ff5656;
}

.term__title_red span {
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
}

.term__list {
  width: 400px;
  text-align: left;
}

.term__item {
  margin-top: 6px;
  padding-left: 20px;
}

.term__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.term__note {
  font-size: 17px;
  color: #1ca8c3;
  font-weight: 300;
  text-align: left;
  margin-top: 16px;
}

/* -----Section Map----- */

.map {
  padding: 57px 0 49px;
  background: url(../img/bg_map.png) center center/cover no-repeat;
  text-align: center;
}

.map__subtitle {
  color: #070716;
  font-size: 11px;
  font-weight: 400;
  width: 76px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 3px 15px;
}

.map__title {
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 32px;
}

.map__text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-top: 20px;
}

.map__link {
  color: #1fbad6;;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 486px;
  display: block;
}

.map__link:hover {
  color: #a38585;
}

/* -----Footer----- */

.footer {
  padding: 14px 0 39px;
  border-bottom: 8px solid #070716;
}

.footer__line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.social {
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 20px;
}

.social__item {
  color: #ffffff;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer__menu-block {
  margin-top: 32px;
}

.footer__menu-main {
  justify-content: space-between;
}

.footer__menu-main li {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__menu-secondary {
  justify-content: space-between;
  margin-top: 16px;
}

.footer__menu-secondary li {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__toggle-lang {
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.store {
  /* justify-content: space-between;
  align-items: center; */
}

.store__item {
  margin-right: 20px;
}